<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MatematiX</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
        <link rel="stylesheet" th:href="@{/resources/static/css/base/footer.css}">
        <link rel="stylesheet" th:href="@{/resources/static/css/base/header.css}">
        <link rel="stylesheet" th:href="@{/resources/static/css/authorization/processTokenResult.css}">
    </head>

    <body>
        <header th:insert="~{base/header :: copy}"></header>

        <div class="info" th:if="${notFound}">
            <h2>Произошла ошибка.</h2>
            <h3>Данного запроса нету в базе данных.</h3>
            <h3>Попробуйте снова.</h3>
        </div>

        <div class="info" th:if="${expired}">
            <h2>Произошла ошибка.</h2>
            <h3>Данный запрос истёк.</h3>
            <h3>На вашу почту отправлен новый запрос.</h3>
        </div>
        <div class="info" th:if="${nonValidUser}">
            <h2>Произошла ошибка.</h2>
            <h3>Данный запрос принадлежит другому аккаунту.</h3>
            <h3>Попробуйте снова.</h3>
        </div>
        <div class="info" th:if="${success}">
            <div th:if="${verification}">
                <h2>Ваша почта успешно подтверждена!</h2>
                <h3>Вы можете сменить её в любое время в настройках аккаунта</h3>
            </div>
            <div th:if="${resetPassword}">
                <h2>Ваш пароль успешно изменён!</h2>
                <h3>Вы будете перенаправлены на страницу авторизации через 8 секунд, <a th:href="@{/auth/login}">если этого не произошло.</a> </h3>
                <script th:src="@{/resources/static/js/redirectToLogin.js}"></script>
            </div>
        </div>

        <footer th:insert="~{base/footer :: copy}"></footer>
    </body>
</html>