<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Забыли пароль?</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/authorization/base.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/authorization/registration.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://kit.fontawesome.com/43505ce75b.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
</head>

<body>
<div th:if="${null ne success and success ne true}" th:insert="~{base/toastCustom :: toast}"/>
<div class="main">
  <div class="frame-wrapper" style="position: relative">
    <div class="frame">
      <div class="frame--content">
        <h2>Восстановление</h2>
        <form th:action="@{/auth/resetPassword}" th:object="${passwordDTO}" th:method="POST" class="form">
          <div class="inputBox">
            <input required class="js-input password-input" maxlength="60" th:name="password" th:id="password" th:type="password" >
            <p style="top: 11px;right: 0px;cursor: pointer;position: absolute;" id="theEyeSpan_password"><ion-icon style="font-size:20px;color:#45a0da" content="password" class="theEye" name="eye-outline"></ion-icon></p>
            <span>Пароль</span>
          </div>

          <div class="inputBox">
            <input required class="js-input passwordAgain-input" maxlength="60" th:name="passwordAgain"  th:id="passwordAgain" th:type="password">
            <p style="top: 11px;right: 0px;cursor: pointer;position: absolute;" id="theEyeSpan_passwordAgain"><ion-icon style="font-size:20px;color:#45a0da" content="passwordAgain" class="theEye" name="eye-outline"></ion-icon></p>
            <span>Подтвердите пароль</span>
            <div style="position: absolute;" id="doPasswordsMatchRespond"></div>
          </div>
          <input type="hidden" name="token" id="token" th:value="${token}">
          <div class="flexbox-register-finish" style="margin-top: 200px !important;">
            <input type="submit" value="Подтвердить">
          </div>
        </form>
      </div>
    </div>
    <div id="passwordRequirements" content="password" class="tooltip frame-helper" style="top: 160px;">
      <div class="frame--content">
        <ul>
          <li id="isPasswordLengthValid">Длина пароля должна быть больше 4 и меньше 61.</li>
          <li id="doPasswordsMatch">Пароли должны совпадать.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/resources/static/js/showHidePassword.js}" type="text/javascript"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:src="@{/resources/static/js/min/delay.js}"></script>
<script th:src="@{/resources/static/js/min/showTooltipsAndValidatePasswords.js}"></script>
</body>
</html>