<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Забыли пароль?</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/authorization/base.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/authorization/registration.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
  <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
</head>

<body>
<div class="main">
  <div class="frame">
    <div class="left">
      <a th:href="@{/}"><img class="frame-logo" th:src="@{/resources/static/img/logo_white.svg}" alt="MatematiX"></a>
      <div class="desc">
        <h2>Восстановление</h2>
        <h3>Придумайте новый пароль</h3>
      </div>
    </div>
    <div class="right">
      <h2>Добро пожаловать!</h2>



      <form th:action="@{/auth/resetPassword}" th:object="${passwordDTO}" th:method="POST" class="form">
        <div style="position: relative">
          <div class="form-info password-info">
            <ul>
              <li>
                <p>Поле не должно быть пустым.</p>
              </li>
              <li>
                <p>Длина пароля должна быть больше 4 и меньше 61.</p>
              </li>
              <li>
                <p>Пароли должны совпадать.</p>
              </li>
            </ul>
          </div>
          <label for="password">Новый пароль</label>
          <input maxlength="60" placeholder="Введите новый пароль" type="password" id="password" name="password">
          <img th:unless="${#fields.hasErrors('password')}" th:src="@{/resources/static/img/info.svg}" class="info-logo" alt="">
          <img th:if="${#fields.hasErrors('password')}" th:src="@{/resources/static/img/info_red.svg}" class="info-logo" alt="">
        </div>

        <label for="passwordAgain">Подтвердите пароль</label>
        <input maxlength="60"  placeholder="Введите пароль" id="passwordAgain" type="password" name="passwordAgain">
        <input type="hidden" name="token" id="token" th:value="${token}">
        <p class="error error1" th:if="${error}">Пароли не совпадают</p>
        <div class="flexbox-register-finish" style="margin-top: 200px !important;">
          <input type="submit" value="Подтвердить">
        </div>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/resources/static/js/showInfo.js}"></script>
</body>
</html>