<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Формулы Кубов и Квадратов</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/footer.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/header.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/base/article.css}">
  <link rel="stylesheet" th:href="@{/resources/static/css/article/Pythagorean.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<header th:insert="~{base/header :: copy}"></header>

<main>

  <div class="article-header">
    <h1>Полезные формулы</h1>
    <h4 th:text="'Опубликовано пользователем ' + ${user} + ' ' + ${date}"> </h4>
  </div>
  <div class="article-main-content">
    <section>
      <h2>1. Основные Формулы</h2>
      <div style="padding-left: 20px">
        <table class="content-table">
          <thead>
          <tr>
            <th>Название</th>
            <th>Формула</th>
            <th>Полная Запись</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Квадрат Суммы</td>
            <td>(a + b)<sup>2</sup></td>
            <td>a<sup>2</sup> + 2ab + b<sup>2</sup></td>
          </tr>
          <tr>
            <td>Квадрат Разности</td>
            <td>(a - b)<sup>2</sup></td>
            <td>a<sup>2</sup> - 2ab + b<sup>2</sup></td>
          </tr>
          <tr>
            <td>Сумма квадратов</td>
            <td>a<sup>2</sup> + b<sup>2</sup></td>
            <td>(a + b)<sup>2</sup> - 2ab</td>
          </tr>
          <tr>
            <td>Разность Квадратов</td>
            <td>a<sup>2</sup> - b<sup>2</sup></td>
            <td>(a + b)(a - b)</td>
          </tr>
          <tr>
            <td>Куб Суммы</td>
            <td>(a + b)<sup>3</sup></td>
            <td>a<sup>3</sup> + 3a<sup>2</sup> b + 3ab<sup>2</sup> + b<sup>3</sup></td>
          </tr>
          <tr>
            <td>Куб Разности</td>
            <td>(a - b)<sup>3</sup></td>
            <td>a<sup>3</sup> - 3a<sup>2</sup> b + 3ab<sup>2</sup> - b<sup>3</sup></td>
          </tr>
          <tr>
            <td>Сумма Кубов</td>
            <td>a<sup>3</sup> + b<sup>3</sup></td>
            <td>(a + b)(a<sup>2</sup> - ab + b<sup>2</sup>)</td>
          </tr>
          <tr>
            <td>Разность Кубов</td>
            <td>a<sup>3</sup> - b<sup>3</sup></td>
            <td>(a - b)(a<sup>2</sup> + ab + b<sup>2</sup>)</td>
          </tr>

          </tbody>

        </table>
      </div>
    </section>
    <section>
      <h2>1. Тригонометрические Формулы</h2>
      <div style="padding-left: 20px">
        <table class="content-table">
          <thead>
          <tr>
            <th>Название</th>
            <th>Формула</th>
            <th>Полная Запись</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Основное тригонометрическое тождество</td>
            <td>$$\sin^2{\alpha} + \cos^2{\alpha}$$</td>
            <td>$$\sin^2{\alpha} + \cos^2{\alpha} = 1$$</td>
          </tr>
          <tr>
            <td>Формула Приведения(Тангенс)</td>
            <td>$$ 1 + \tan^2{\alpha}$$</td>
            <td>
              $$ 1 \over {\cos^2{\alpha}}$$
            </td>
          </tr>
          <tr>
            <td>Формула Приведения(Котангенс)</td>
            <td>$$1 + \cot^2{\alpha}$$</td>
            <td>
              $$1 \over{\sin^2{\alpha}}$$
            </td>
          </tr>
          <tr>
            <td>Формула Приведения(Произведение)</td>
            <td>$$\tan{\alpha} \times \cot{\alpha}$$</td>
            <td>$$\tan{\alpha} \times \cot{\alpha} = 1$$</td>
          </tr>
          <tr>
            <td>Синус двойного угла</td>
            <td>$$\sin{2\alpha}$$</td>
            <td>$$2\sin{\alpha}\cos{\alpha}$$</td>
          </tr>
          <tr>
            <td>Косинус Двойного угла</td>
            <td>$$\cos{2\alpha}$$</td>
            <td>$$\cos^2{\alpha} - \sin^2{\alpha}$$</td>
          </tr>
          <tr>
            <td>Косинус Двойного угла</td>
            <td>$$\cos{2\alpha}$$</td>
            <td>$$2\cos^2{\alpha} - 1$$</td>
          </tr>
          <tr>
            <td>Косинус Двойного угла</td>
            <td>$$\cos{2\alpha}$$</td>
            <td>$$1 - 2\sin^2{\alpha}$$</td>
          </tr>
          <tr>
            <td>Тангенс Двойного угла</td>
            <td>$$\tan{2\alpha}$$</td>
            <td>
              $$2\tan{\alpha} \over {1 - \tan^2{\alpha}}$$
            </td>
          </tr>
          <tr>
            <td>Синус Тройного угла</td>
            <td>$$\sin{3\alpha}$$</td>
            <td>
              $$3\sin{\alpha} - 4\sin^3{\alpha}$$
            </td>
          </tr>
          <tr>
            <td>Косинус Тройного угла</td>
            <td>$$\cos{3\alpha}$$</td>
            <td>$$4\cos^3{\alpha} - 3\cos{\alpha}$$</td>
          </tr>
          <tr>
            <td>Тангенс Тройного угла</td>
            <td>$$\tan{3\alpha}$$</td>
            <td>
                $${3\tan{\alpha} - \tan^3{\alpha}} \over {1 - 3\tan^2{a}}$$
            </td>
          </tr>
          <tr>
            <td>Синус Половинного угла</td>
            <td>$$\sin{\alpha \over 2}$$</td>
            <td>
              $${\pm \sqrt{ {1 - \cos{\alpha}} \over 2 }}$$
            </td>
          </tr>
          <tr>
            <td>Косинус Половинного угла</td>
            <td>$$\cos{\alpha \over 2}$$</td>
            <td>$${\pm \sqrt{ {1 + \cos{\alpha}} \over 2 }}$$</td>
          </tr>
          <tr>
            <td>Тангенс Половинного угла</td>
            <td>$$\tan{\alpha \over 2}$$</td>
            <td>$${\pm \sqrt{ {1 - \cos{\alpha}} \over {1 +\cos{\alpha}}}}$$</td>
          </tr>
          <tr>
            <td>Тангенс Половинного угла</td>
            <td>$$\tan{\alpha \over 2}$$</td>
            <td>$$\sin{\alpha} \over {1 + \cos{\alpha}}$$</td>
          </tr>
          <tr>
            <td>Тангенс Половинного угла</td>
            <td>$$\tan{\alpha \over 2}$$</td>
            <td>$${1 - \cos{\alpha}} \over {\sin{\alpha}}$$</td>
          </tr>
          <tr>
            <td>Синус Суммы</td>
            <td>$$\sin{\alpha + \beta}$$</td>
            <td>$$\sin{\alpha}\cos{\beta} + \sin{\beta}\cos{\alpha}$$</td>
          </tr>
          <tr>
            <td>Синус Разности</td>
            <td>$$\sin{\alpha - \beta}$$  </td>
            <td>$$ \sin{\alpha}\cos{\beta} - \sin{\beta}\cos{\alpha}$$</td>
          </tr>
          <tr>
            <td>Косинус Суммы</td>
            <td>$$\cos{\alpha + \beta}$$</td>
            <td>$$\cos{\alpha}\cos{\beta} - \sin{\alpha}\sin{\beta}$$</td>
          </tr>
          <tr>
            <td>Косинус Разности</td>
            <td>$$\cos{\alpha - \beta}$$</td>
            <td>$$\cos{\alpha}\cos{\beta} + \sin{\alpha}\sin{\beta}$$</td>
          </tr>
          <tr>
            <td>Тангенс Суммы</td>
            <td>$$\tan{\alpha + \beta}$$</td>
            <td>
              $${\tan{\alpha} + \tan{\beta}} \over {1 - \tan{\alpha}\tan{\beta}}$$
            </td>
          </tr>

          <tr>
            <td>Тангенс Разности</td>
            <td>$$\tan{\alpha - \beta}$$</td>
            <td>
              $${\tan{\alpha} - \tan{\beta}} \over {1 + \tan{\alpha}\tan{\beta}}$$
            </td>
          </tr>
          <tr>
            <td>Сумма Синусов</td>
            <td>$$\sin{\alpha} + \sin{\beta}$$</td>
            <td>
              $$2\sin{ {\alpha + \beta} \over 2}\cos{ {\alpha - \beta} \over 2}$$
            </td>
          </tr>
          <tr>
            <td>Разность Синусов</td>
            <td>$$\sin{\alpha} - \sin{\beta}$$</td>
            <td>
              $$2\sin{ {\alpha - \beta} \over 2}\cos{ {\alpha + \beta} \over 2}$$
            </td>
          </tr>
          <tr>
            <td>Сумма Косинусов</td>
            <td>$$\cos{\alpha} + \cos{\beta}$$</td>
            <td>$$2\cos{ {\alpha + \beta} \over 2}\cos{ {\alpha - \beta} \over 2}$$</td>
          </tr>
          <tr>
            <td>Разность Косинусов</td>
            <td>$$\cos{\alpha} - \cos{\beta}$$</td>
            <td>$$-2\sin{ {\alpha + \beta} \over 2}\sin{ {\alpha - \beta} \over 2}$$</td>

          </tr>
          <tr>
            <td>Сумма Тангенсов</td>
            <td>$$\tan{\alpha} + \tan{\beta}$$</td>
            <td>
              $$ {\sin{\alpha + \beta}} \over {\cos{\alpha}\cos{\beta}}$$
            </td>
          </tr>
          <tr>
            <td>Разность Тангенсов</td>
            <td>$$\tan{\alpha} - \tan{\beta}$$</td>
            <td>
              $$ {\sin{\alpha - \beta}} \over {\cos{\alpha}\cos{\beta}}$$
            </td>
          </tr>
          <tr>
            <td>Произведение синусов</td>
            <td>$$\sin{\alpha} * \sin{\beta}$$</td>
            <td>
             $$ {\cos{(\alpha - \beta)} - \cos{(\alpha + \beta)}} \over 2$$
            </td>
          </tr>
          <tr>
            <td>Произведение косинусов</td>
            <td>$$\cos{\alpha} * \cos{\beta}$$</td>
            <td>
              $$ {\cos{(\alpha + \beta)} + \cos{(\alpha - \beta)}} \over 2$$
            </td>
          </tr>
          <tr>
            <td>Произведение Синуса и Косинуса</td>
            <td>$$\sin{\alpha} * \cos{\beta}$$</td>
            <td>
              $$ {\sin{(\alpha + \beta)} + \sin{(\alpha - \beta)}} \over 2$$
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </section>
    <section>
      <h2>3. Примеры Использования</h2>
    </section>
    <section>
      <h2>4. Задачи</h2>
    </section>



  </div>
</main>
<div class="article-nav-bar">
  <div class="circle">

  </div>
  <div class="circle">

  </div>
  <div class="circle">

  </div>
  <div class="circle">

  </div>
  <div class="circle">

  </div>
</div>

<footer th:insert="~{base/footer :: copy}"></footer>

</body>
</html>