<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Теорема Пифагора</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/header.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/article.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/article/Pythagorean.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header th:insert="~{base/header :: copy}"></header>

    <main>

        <div class="article-header">
            <h1>Теорема Пифагора и обратная ей</h1>
            <h4 th:text="'Опубликовано пользователем ' + ${user} + ' ' + ${date}"> </h4>
        </div>
        <div class="article-main-content">
                <section>
                <h2>1. Теоремы</h2>
                <div style="padding-left: 20px">
                    <h3>1.1 Теорема Пифагора</h3>
                    <p>В любом прямоугольном треугольнике квадрат гипотенузы равен сумме квадратов
                        катетов:</p>
                    <img class="Py-img" style="margin: 20px" th:src="@{/resources/static/img/article/Pythagorean/img1.png}" alt="">
                    <h3>1.2 Обратная Теорема Пифагора</h3>
                    <p>Если сумма квадратов двух сторон в треугольнике равна квадрату третьей стороны,
                        данный треугольник является прямоугольным.</p>
                    <img class="Py-img" style="margin: 20px" th:src="@{/resources/static/img/article/Pythagorean/img2.png}" alt="">
                    <p>Треугольник &#9651; ABC - прямоугольный, если сумма квадратов
                        катетов равна квадрату гипотенузы. Получается то же
                        уравнение, где квадрат гипотенузы стоит левее знака
                        равенства, а сумма квадратов катетов правее.</p>
                </div>
            </section>
            <section>
                <h2>2. Доказательство Теорем</h2>
                <div style="padding-left: 20px">
                    <h3>2.1 Теорема Пифагора</h3>
                    <p>Предположим, что у нас есть некий прямоугольный треугольник &#9651; ABC (&#8736; A = 90&deg;).
                        Из прямого угла &#8736; А проведем перпендикуляр АА<sub>1</sub> и найдем значения косинуса углов
                        &#8736; А и &#8736; С.</p>

                    <div class="flexbox">
                        <img class="Py-img" style="margin: 20px" th:src="@{/resources/static/img/article/Pythagorean/img3.png}" alt="">
                        <img class="Py-img" style="margin: 20px;height: 199px" th:src="@{/resources/static/img/article/Pythagorean/img3_1.png}" alt="">
                    </div>
                    <p>Приравнивая косинусы друг к другу получаем следующие равенства:</p>
                        <p>AC<sup>2</sup> = BC × CA<sub>1</sub> <br>
                            AB<sup>2</sup> = BA<sub>1</sub> × BC</p>
                    <p>Складывая данные равенства получим:</p>
                    <p>AB<sup>2</sup> + AC<SUP>2</SUP> = BC × (CA<sub>1</sub> + BA<sub>1</sub> ) <br>
                        AB<sup>2</sup> + AC<SUP>2</SUP> = BC × BC <br>
                        AB<sup>2</sup> + AC<SUP>2</SUP> = BC<sup>2</sup></p>
                    <p style="font-weight: 600;margin-top: 60px">Что и требовалось доказать.</p>

                    <h3>2.2 Обратная Теорема Пифагора</h3>
                    <img class="Py-img" style="margin: 20px" th:src="@{/resources/static/img/article/Pythagorean/img4.png}" alt="">
                    <img class="Py-img  " style="margin: 20px 20px 20px 180px;" th:src="@{/resources/static/img/article/Pythagorean/img5.png}" alt="">
                    <p>Пусть в треугольнике &#9651; A<sub>1</sub>B<sub>1</sub>C<sub>1</sub> выполняется следующее равенство:
                    a <sup>2</sup> + b <sup>2</sup> = c <sup>2</sup>.
                        </p>
                    <p> <span style="font-weight: 600; font-size: 20px">Докажем, что угол &#8736; A – прямой.</span> <br> Рассмотрим треугольник &#9651; A<sub>1</sub>B<sub>1</sub>C<sub>1</sub> с прямым углом &#8736; А<sub>1</sub> :
                        <br>
                        Его стороны соответственно равны сторонам треугольника &#9651; ABC
                        (AB = A<sub>1</sub>B<sub>1</sub>, AC =A<sub>1</sub>C<sub>1</sub>). <br> По теореме Пифагора A<sub>1</sub>B<sub>1</sub><sup>2</sup> + A<sub>1</sub>C<sub>1</sub><sup>2</sup>  = B<sub>1</sub>C<sub>1</sub><sup>2</sup>.
                        <br>
                        Исходя из этого, треугольники ABC и A<sub>1</sub>B<sub>1</sub>C<sub>1</sub> равны по третьему признаку,
                        тогда угол &#8736; А = углу &#8736; А<sub>1</sub> = 90&deg;.
                    </p>
                    <p style="font-weight: 600;margin-top: 60px">Что и требовалось доказать.</p>
                </div>
            </section>
            <section>
                <h2>3. Примеры Использования</h2>
            </section>
            <section>
                <h2>4. Задачи</h2>
            </section>
            <section>
                <h2>5. Пифагоровы Тройки</h2>
                <div style="padding-left: 20px">
                    <p>Пифагоровы тройки – комбинация из трёх целых чисел a, b, c, удовлетворяющих
                        условию a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup> (Соотношение из теоремы Пифагора). Ниже приведены некоторые из них.
                    </p>

                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>12</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>24</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>15</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>12</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>24</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>35</td>
                            <td>37</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </section>


        </div>
    </main>
    <div class="article-nav-bar">
        <div class="circle">

        </div>
        <div class="circle">

        </div>
        <div class="circle">

        </div>
        <div class="circle">

        </div>
        <div class="circle">

        </div>
    </div>

    <footer th:insert="~{base/footer :: copy}"></footer>

</body>
</html>