ul {
    margin-top: 65px;
    list-style: none;
    display: flex;
    padding-bottom: 4px;
    justify-content: space-between;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
td {
    background-color: transparent !important;
    word-wrap: break-word;
}
.frame-logo {
    cursor: pointer;
    width: 200px;
}
header {
    text-align: center;
    margin-top: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    font-size: 17px;
    color: rgba(255,255,255,0.85);
}
.line-bottom {
    border-bottom: 1px solid white;
}
.line-top {
    border-top: 1px solid white;
}
input[type="tel"] {
    width: 80px;
    text-align: center;
}
input[type="tel"]:focus {
    outline: none;
}
#showSettingsModalContent {
    background-color: #1E1E1E;
}