<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Математикс</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/base/base.css}">
        <link rel="stylesheet" th:href="@{/css/base/footer.css}">
        <link rel="stylesheet" th:href="@{/css/base/header.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="manifest" th:href="@{/img/logo/site.webmanifest}">
    </head>

    <body>
        <div th:if="${notFound} " th:insert="~{base/toastNotFound :: toast}"></div>
        <div th:if="${expired} " th:insert="~{base/toastExpired :: toast}"></div>
        <div th:if="${nonValidUser} or ${param.nonValidUser}" th:insert="~{base/toastRegisterError :: toast}"></div>
        <div th:if="${successEmailConfirmation}" th:insert="~{base/toastEmailConfirmation :: toast}"></div>
        <div th:if="${seenJaxToast ne null and not seenJaxToast}" th:insert="~{base/toastAjax :: toast}"></div>
        <header th:insert="~{base/header :: copy}"></header>
        <div class="carousel">
            <div class="carousel--ul">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <input type="radio" name="radio-btn" id="radio5">

                    <div class="carousel--card carousel--card-1">
                        <p class="carousel--card--content"><em><strong style="color: #efefef;font-size: 40px;letter-spacing: 2px">
                            МЕТОД РАЦИОНАЛИЗАЦИИ</strong></em></p>
                    </div>
                    <div class="carousel--card carousel--card-2">
                        <p class="carousel--card--content"><em><strong style="color: #efefef;font-size: 40px;letter-spacing: 2px">
                            ПРОИЗВОДНАЯ ФУНКЦИИ</strong></em></p>
                    </div>
                    <div class="carousel--card carousel--card-3">
                        <p class="carousel--card--content"><em><strong style="color: #efefef;font-size: 40px;letter-spacing: 2px">
                            МЕТОД РАЦИОНАЛИЗАЦИИ</strong></em></p>
                    </div>
                    <div class="carousel--card carousel--card-4">
                        <p class="carousel--card--content"><em><strong style="color: #efefef;font-size: 40px;letter-spacing: 2px">
                            УРАВНЕНИЯ ФИГУР</strong></em></p>
                    </div>
                    <div class="carousel--card carousel--card-5">
                        <p class="carousel--card--content"><em><strong style="color: #efefef;font-size: 40px;letter-spacing: 2px">
                            МЕТОД КООРДИНАТ</strong></em></p>
                    </div>
            </div>
        </div>
        <div class="main">
            <main>
                <div class="grid-column1-row1 grid-content" onclick="location.href = '/articles/Pythagorean'"></div>
                <div class="grid-column2-row1 grid-content" onclick="location.href = `/articles/Formulas`"></div>
                <div class="grid-column3-row1 grid-content"></div>
                <div class="grid-column4-row1 grid-content"></div>

                <div class="grid-column1-row2 grid-content"></div>
                <div class="grid-column2-row2 grid-content"></div>
                <div class="grid-column4-row2 grid-content"></div>

                <div class="grid-column1-row3 grid-content"></div>
                <div class="grid-column3-row3 grid-content"></div>
                <div class="grid-column4-row3 grid-content"></div>
            </main>
        </div>

        <footer th:insert="~{base/footer :: copy}"></footer>
        <script th:src="@{/js/min/carousel.js}"></script>
        <script type="text/javascript" th:src="@{/js/ping.js}" sec:authorize="isAuthenticated()"></script>
    </body>
</html>