<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <title>Забыли пароль?</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/base/base.css}">
        <link rel="stylesheet" th:href="@{/css/authorization/base.css}">
        <link rel="stylesheet" th:href="@{/css/authorization/registration.css}">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/logo/apple-touch-icon.png}">
        <link rel="manifest" th:href="@{/img/logo/site.webmanifest}">
    </head>

    <body style="overflow: hidden">
    <div class="main">
        <div class="frame--wrapper">
           <div class="frame" style="height: 655px !important;">
                <div class="frame--content">
                    <h2>Восстановление</h2>
                    <div style="margin-bottom: 40px !important;">
                        <div class="inputBox">
                            <input required maxlength="45" type="text" id="username" name="username">
                            <span>Логин / Email</span>
                            <p style="top: 41px;right:1px" class="error error1" th:if="${notFound}">Пользователь не найден!</p>
                        </div>

                        <div class="flexbox-register-finish" style="margin-top: 100px !important;position: relative">
                            <input id="sendButton" type="submit" value="Подтвердить">
                            <h4 class="noAccount"><a th:href="@{/auth/login}">Есть аккаунт?</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" th:inline="javascript">
        const error1 = document.querySelector(".error1");
        $(document).ready(function() {
            toastr.options.preventDuplicates = false;
            toastr.options.progressBar = true;
            const processResult = (data) => {
                console.log(data);
                if(!data)
                    toastr.error("Пользователь не найден.","Ошибка!");
                else
                    toastr.info("На вашу почту отправлено письмо.");

            }
            $(document).ajaxSend(function(e,xhr,options) {
                xhr.setRequestHeader("X-CSRF-TOKEN",[[${_csrf.token}]]);
            });
            $("#sendButton").on("click",function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/auth/ajax/process_forgotPassword",
                    method: "POST",
                    type: "POST",
                    data: {username: $("#username").val()},
                    success: processResult
                });
            });
            $("#username").on("keyup",() => {
                if($(this).val().length >= 1 && error1 != null)
                    error1.classList.add("disappear");
            })
        })
    </script>
</html>