<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/css/authorization/base.css}">
    <link rel="stylesheet" th:href="@{/css/authorization/registration.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/logo/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/img/logo/site.webmanifest}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/43505ce75b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
</head>

<body style="overflow: hidden">
<div th:if="${null ne success and success ne true}" th:insert="~{base/toastCustom :: toast}"/>
<div class="main" style="position: relative">
    <div class="frame-wrapper" style="position: relative">
        <div class="frame">
            <div class="frame--content">
                <h2>Регистрация</h2>
                <form th:action="@{/auth/register}" th:method="POST" class="form" th:object="${dto}">
                    <div class="inputBox">
                        <input required class="js-input name-input" maxlength="15" th:name="name" th:type="text" th:id="name" th:value="${dto.getName()}">
                        <span>Логин</span>
                        <div style="position: absolute;" id="isLoginTakenRespond"></div>
                    </div>
                    <div class="inputBox">
                        <input required class="js-input email-input" maxlength="45" th:name="email" th:type="text" th:id="email" th:value="${dto.getEmail()}">
                        <span>Почта</span>
                        <div style="position: absolute;" id="isEmailTakenRespond"></div>
                    </div>

                    <div class="inputBox">
                        <input required class="js-input password-input" maxlength="60" th:name="password"  th:value="${dto.getPassword()}" th:id="password" th:type="password" >
                        <p style="top: 11px;right: 0px;cursor: pointer;position: absolute;" id="theEyeSpan_password"><ion-icon style="font-size:20px;color:#45a0da" content="password" class="theEye" name="eye-outline"></ion-icon></p>
                        <span>Пароль</span>
                    </div>

                    <div class="inputBox">
                        <input required class="js-input passwordAgain-input" maxlength="60" th:name="passwordAgain"  th:id="passwordAgain" th:type="password">
                        <p style="top: 11px;right: 0px;cursor: pointer;position: absolute;" id="theEyeSpan_passwordAgain"><ion-icon style="font-size:20px;color:#45a0da" content="passwordAgain" class="theEye" name="eye-outline"></ion-icon></p>
                        <span>Подтвердите пароль</span>
                        <div style="position: absolute;" id="doPasswordsMatchRespond"></div>
                    </div>
                    <div class="flexbox-register-finish">
                        <input th:type="submit" class="submit" th:value="Зарегестрироваться">
                        <h4 class="noAccount"><a th:href="@{/auth/login}">Есть Аккаунт?</a> </h4>
                    </div>
                </form>
            </div>
        </div>
        <div id="loginRequirements" content="name" class="tooltip frame-helper" style="top: 154px;">
            <div class="frame--content">
                <ul>
                    <li id="isLoginTaken">Имя не должно быть занято.</li>
                    <li id="isLoginLengthValid">Длина имени должна быть больше 4 и меньше 16.</li>
                    <li id="isLoginValid">Имя должно состоять из латинских букв и/или цифр.</li>
                </ul>
            </div>
        </div>
        <div id="emailRequirements" content="email" class="tooltip frame-helper" style="top: 265px;">
            <div class="frame--content">
                <ul>
                    <li id="isEmailTaken">Почта не должна быть занята.</li>
                    <li id="isEmailLengthValid">Длина эл. почты должна быть больше 4 и меньше 46.</li>
                </ul>
            </div>
        </div>
        <div id="passwordRequirements" content="password" class="tooltip frame-helper" style="top: 374px;">
            <div class="frame--content">
                <ul>
                    <li id="isPasswordLengthValid">Длина пароля должна быть больше 4 и меньше 61.</li>
                    <li id="doPasswordsMatch">Пароли должны совпадать.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/showHidePassword.js}" type="text/javascript"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/min/delay.js}"></script>
<script type="text/javascript">
    const loginMatch = new RegExp(`(^\\w+$)`);
    const validateLogin = () => {
        let isLoginLengthValid = document.getElementById("isLoginLengthValid");
        let isLoginValid = document.getElementById("isLoginValid");
        let login_ = document.getElementById("name");
        let loginLen = document.getElementById("name").value.length;
        if((loginLen > 4 && loginLen < 16))
            isLoginLengthValid.classList.add("valid");
        else
            isLoginLengthValid.classList.remove("valid");
        if(loginMatch.test(login_.value))
            isLoginValid.classList.add("valid");
        else
            isLoginValid.classList.remove("valid");
    }
    const funcSuccessLogin = (data) => {
        let isLoginTaken = document.getElementById("isLoginTaken");
        if(!data)
            isLoginTaken.classList.add(`valid`);
        else
            isLoginTaken.classList.remove("valid");
        validateLogin();
    }
    const validateEmail = () => {
        let isEmailLengthValid = document.getElementById("isEmailLengthValid");
        let emailLen = document.getElementById("email").value.length;
        if((emailLen > 4 && emailLen < 46))
            isEmailLengthValid.classList.add("valid");
        else
            isEmailLengthValid.classList.remove("valid");
    }
    const funcSuccessEmail = (data) => {
        let isEmailTaken = document.getElementById("isEmailTaken");
        if(!data)
            isEmailTaken.classList.add("valid");
        else
            isEmailTaken.classList.remove("valid");
        validateEmail();
    }
    $(document).ready(function() {
            $("#name").on("keyup",
                delay(
                    function () {
                        $.ajax({
                            url: "/auth/ajax/isLoginAlreadyTaken",
                            type: "GET",
                            data: ({login: document.getElementById("name").value}),
                            success: funcSuccessLogin
                        });
                    }
                    ,500
                )
            );
            $("#email").on("keyup",
                delay(
                    function () {
                        $.ajax({
                            url: "/auth/ajax/isEmailAlreadyTaken",
                            type: "GET",
                            data: ({email: document.getElementById("email").value}),
                            success: funcSuccessEmail
                        });
                    }
                    ,700
                )
            );
        });
</script>
<script th:src="@{/js/min/showTooltipsAndValidatePasswords.js}"></script>
</body>
</html>