<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MatematiX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/header.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/jax.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
</head>

<body>
    <header th:insert="~{base/header :: copy}"></header>
    <main>
        <h1>Что такое MathJax, и почему это важно?</h1>
        <div class="content">
            <img th:src="@{/resources/static/img/Mathjax.png}" src="" alt="MathJax">
            <p>MathJax - кроссбраузерная библиотека, позволяющая записывать математические формулы в удобном для пользователя виде.Но Почему  мы считаем важным оповестить вас, наших пользователей, об использовании данной технологии?</p>
            <p>MathJax добавляет к формулам контекстное меню, вызываемое правой кнопкой мыши или щелчком с нажатой Ctrl:</p>
            <img th:src="@{/resources/static/img/Example1.png}" src="" alt="Первый Пример">
            <p><b>“Настройки Math”</b> позволяют настраивать возможности MathJax, например, размер формул и механизм их показа.</p>
            <img th:src="@{/resources/static/img/Example2.png}" src="" alt="Второй пример">
            <p><b>Обратите внимание: при слишком большом увеличении, формулы могут выглядеть некорректно и не соответствовать исходному виду.</b></p>
            <p>С помощью отрисовщика формул вы можете выбрать наиболее удобный вариант отображения формул:</p>
            <figure>
                <img th:src="@{/resources/static/img/Example3.png}" src="" alt="HTML CSS">
                <figcaption>Вариант HTML CSS</figcaption>
            </figure>
            <figure>
                <img th:src="@{/resources/static/img/Example4.png}" src="" alt="SVG">
                <figcaption>Вариант SVG</figcaption>
            </figure>
            <figure>
                <img th:src="@{/resources/static/img/Example5.png}" src="" alt="Preview HTML">
                <figcaption style="margin-bottom: 40px">Вариант Preview HTML</figcaption>
            </figure>
            <p><b>Администрация нашего сайта настоятельно рекомендует использовать HTML CSS.</b></p>
            <p style="margin-bottom: 200px">Узнать про остальные функции можно, вызывав контекстное меню MathJAX и выбрав пункт “О MathJax”.</p>
        </div>
    </main>
    <footer th:insert="~{base/footer :: copy}"></footer>
    <script type="text/javascript" th:src="@{/resources/static/js/ping.js}" sec:authorize="isAuthenticated()"></script>
</body>
</html>