<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администрирование</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/admin/base.css}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
</head>

<body>
<div th:if="${success}" th:insert="~{base/toastSuccess :: toast}">

</div>
<div th:if="${null ne success and success ne true}" th:insert="~{base/toastCustom :: toast}">

</div>
<main>
    <nav>
        <div style="display: flex;flex-direction: column;position: fixed">
            <a th:href="@{/}" style="margin-top:20px;margin-bottom:270px"><img class="frame-logo" th:src="@{/resources/static/img/logo_white.svg}" alt="MatematiX"></a>
            <a th:href="@{/admin/index}">Пользователи</a>
            <a href="">Статьи</a>
            <a href="">Роли</a>
            <a href="">Токены</a>
            <a href="">Рейтинг</a>
        </div>
    </nav>
    <div class="main" style="padding-top: 15px; padding-bottom: 50px;padding-left: 20px;min-height: 800px">
        <div class="main-nav">
            <a th:class="main-nav-option" th:href="@{/admin/createUser}">Добавить</a>
            <a th:class="main-nav-option" style="color: #000000" th:href="@{/admin/editUser}">Редактировать</a>
            <a th:class="main-nav-option" th:href="@{/admin/deleteUser}">Удалить</a>
        </div>
        <div class="main-content">
            <form th:id="theForm" th:method="POST" th:action="@{/admin/editUser}" th:object="${user}" class="main-content-form">
                <div class="main-content-input">
                    <div style="display: flex;justify-content: space-between">
                        <label th:for="name">Имя</label>
                        <button id="loadButton">Загрузить</button>
                    </div>
                    <input type="text" th:name="name" th:id="name">
                </div>
                <div class="main-content-input">
                    <label th:for="email">Почта</label>
                    <input disabled type="email" th:name="email" th:id="email">
                </div>
                <div class="main-content-input">
                    <label th:for="encryptedPassword">Пароль</label>
                    <input disabled type="password" th:name="encryptedPassword" th:id="encryptedPassword">
                </div>
                <div class="main-content-input" id="flex-input">
                    <div>
                        <label th:for="enabled">Активирован</label>
                        <select disabled style="width: 202px" th:name="enabled" th:id="enabled">
                            <option th:value="1">Да</option>
                            <option selected th:value="0">Нет</option>
                        </select>
                    </div>
                    <div>
                        <label th:for="blocked">Заблокирован</label>
                        <select disabled style="width: 202px" th:name="blocked" th:id="blocked">
                            <option th:value="1">Да</option>
                            <option selected th:value="0">Нет</option>
                        </select>
                    </div>
                    <div>
                        <label th:for="role">Роль</label>
                        <select disabled style="width: 202px" th:name="role" th:id="role">
                            <option th:value="ROLE_USER">Пользователь</option>
                            <option selected th:value="ROLE_ADMIN">Администратор</option>
                        </select>
                    </div>
                </div>
                <input id="editButton" type="submit" value="Редактировать">
            </form>
        </div>

    </div>
</main>

<script type="text/javascript" th:inline="javascript">
    toastr.options.preventDuplicates = true;
    toastr.options.progressBar = true;
    let emailInput = document.getElementById("email");
    let passInput = document.getElementById("encryptedPassword")
    let activatedSelect = document.getElementById("enabled")
    let blockedSelect = document.getElementById("blocked")
    let roleSelect = document.getElementById("role")
    accessDenied = () => {
        toastr.options.timeOut = 0;
        toastr.options.extendedTimeOut = 0
        toastr.error("Такого пользователя не существует!","Ошибка!");
        emailInput.setAttribute("disabled","disabled")
        passInput.setAttribute("disabled","disabled")
        activatedSelect.setAttribute("disabled","disabled")
        blockedSelect.setAttribute("disabled","disabled")
        roleSelect.setAttribute("disabled","disabled")
        emailInput.value = "";
        passInput.value = "";
        activatedSelect.value = 1;
        blockedSelect.value = 1;
        roleSelect.value = 1;
    }
    const loadUserSuccess = (data) => {
            if(data.length === 0)
                accessDenied();
            else {
                toastr.options.timeOut = 30000;
                toastr.options.extendedTimeOut = 60000
                toastr.info("Пользователь загружен","Поиск")
                emailInput.removeAttribute("disabled")
                passInput.removeAttribute("disabled")
                activatedSelect.removeAttribute("disabled")
                blockedSelect.removeAttribute("disabled")
                roleSelect.removeAttribute("disabled")
                emailInput.value = data[1];
                passInput.value = data[2];
                activatedSelect.value =data[3];
                blockedSelect.value = data[4];
                roleSelect.value = data[5];
            }
    }
    let theForm = document.getElementById("theForm");
    let loadButton = document.getElementById("loadButton");
    let editButton = document.getElementById("editButton");
    const finalCheckBeforeSubmitting = (data) => {
        if(!data)
            accessDenied();
        else
            theForm.submit();
    };
    loadButton.onclick = (event) => {
        event.preventDefault();
        $.ajax({
                        url: "/admin/ajax/loadUser",
                        method: "GET",
                        data: {name: document.getElementById("name").value},
                        success: loadUserSuccess
                    });
    }
    editButton.onclick = (event) => {
        event.preventDefault();
        $.ajax({
                    url: "/admin/ajax/doesTheUserExist",
                    type: "GET",
                    data: ({name: document.getElementById("name").value}),
                    success: finalCheckBeforeSubmitting
            });
    };
</script>
<script type="text/javascript" th:src="@{/resources/static/js/ping.js}" sec:authorize="isAuthenticated()"></script>
</body>
</html>