<!DOCTYPE html>
<html lang="ru">

    <body>

        <div class="footer-flexbox" th:fragment="copy">
            <div class="footer-links">
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-link" th:href="@{/getInTouch}">Свяжитесь с нами</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Политика Конфиденциальности</a></li>
                    <li class="footer-li"><a class="footer-link last-link" href="#">Условия использования</a></li>
                </ul>
            </div>

            <div class="social-links">
                <ul class="footer-ul">
                    <li class="footer-info-li"><a class="link-reset" target="_blank" th:href="@{https://vk.com/KKRLL56}"><img class="social-links-img" th:src="@{/img/vk.png}" width="21px" alt="VK"> KKRLL56</a></li>
                    <li class="footer-info-li"><a class="link-reset" target="_blank" th:href="@{https://github.com/Mutata56}"><img class="social-links-img" th:src="@{/img/github.png}" width="21px" alt="Github"> Mutata56</a></li>
                </ul>
            </div>
        </div>

    </body>

</html>