<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!DOCTYPE html>

    <body>

        <div class="header"  th:fragment="copy">
            <a th:href="@{/}"><img th:src="@{/img/logo.svg}" class="logo-img" alt=""></a>

                <ul class="nav-links">
                    <li><a href="#" class="nav-link">статьи</a></li>
                    <li><a th:href="@{/bookmarks}" class="nav-link">закладки</a></li>
                    <li><a href="#" class="nav-link">книги</a></li>
                    <li><a href="#" class="nav-link">новости</a></li>
                    <li><a href="#" class="nav-link">о нас</a></li>
                </ul>
            <div class="register" sec:authorize="isAnonymous()">
                <form th:action="@{/auth/login}" method="GET">
                    <button class="register-button">Войти</button>
                </form>
            </div>
            <div class="loggedIn" sec:authorize="isAuthenticated()">

                    <div class="avatar" style="width: 50px;height: 50px;overflow: hidden;border-radius: 50%">
                        <a th:href="@{/profile}">
                            <img style="width: 50px;height: 50px" th:id="theAvatar" th:src="@{/img/UnsetAvatar.gif}"  alt="Profile">
                        </a>
                    </div>
                <script th:if="${hasAvatar}" th:inline="javascript">
                    theAvatar = document.getElementById("theAvatar");
                    let str1 = [[${avatar}]];
                    let format1 = [[${avatarFormat}]];
                    theAvatar.setAttribute("src",`data:image/${format1};base64,${str1}`);
                </script>
            </div>
        </div>


    </body>

</html>