<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title th:if="${canChangeAvatar}">Мой Профиль</title>
    <title th:unless="${canChangeAvatar}" th:text="'Профиль - ' + ${username}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/profile/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body id="body">
<header id="headerDiv">
    <a th:href="@{/}"><img class="frame-logo" th:src="@{/resources/static/img/logo_white.svg}" alt="MatematiX"></a>
</header>
<main id="mainDiv">
    <nav>
        <ul>
            <li style="color: white !important; font-size: 17px; cursor: pointer">Профиль</li>
            <li th:if="${canChangeAvatar}" ><a class="nav-link" th:href="@{/}">Настройки</a></li>
            <li th:if="${canChangeAvatar}"><a class="nav-link" th:href="@{/}">Безопасность</a></li>
            <li th:if="${canChangeAvatar}"><a class="nav-link" th:href="@{/}">Интерфейс</a></li>
            <li th:if="${canChangeAvatar}"><a class="nav-link" th:href="@{/}">Уведомления</a></li>
        </ul>
    </nav>
    <div class="about">
        <div class="avatar-wrapper">
            <label th:for="secretInput" style="cursor:pointer">
                <img th:if="${hasAvatar}" th:id="avatar" alt="">
                <img th:unless="${hasAvatar}" th:id="avatar" th:src="@{/resources/static/img/UnsetAvatar.gif}" alt="">
            </label>
            <form th:if="${canChangeAvatar}" enctype="multipart/form-data" th:id="theForm" th:action="@{/uploadAvatar(${_csrf.parameterName}=${_csrf.token})}" th:method="POST">
                <input th:id="secretInput" th:name="file" type="file" style="display: none" accept="image/*">
                <input type="submit" th:id="secretSubmit">
                <input th:id="x" type="hidden" th:name="x">
                <input th:id="y" type="hidden" th:name="y">
                <input th:id="width" type="hidden" th:name="width">
                <input th:id="height" type="hidden" th:name="height">
                <input th:id="scaleX" type="hidden" th:name="scaleX">
                <input th:id="scaleY" type="hidden" th:name="scaleY">
            </form>
        </div>
        <div class="desc">
            <p th:text="'Имя: ' + ${name}"></p>
            <p th:text="'Рейтинг: '"></p>
            <p th:text="'Уровень: ' + ${lvl}"></p>
        </div>
    </div>
    <div id="commentsDiv" class="comments">
        <div class="comments-header">
            <p style="display: inline-block">Комментарии</p>
            <div class="sort-settings">
                <ul class="sort-settings-ul">
                    <li class="sort-settings-li">популярные</li>
                    <li class="sort-settings-li">старые</li>
                    <li class="sort-settings-li">новые</li>
                </ul>
            </div>
        </div>
        <div class="comments-content">
                <div class="writeCommentSuggestionDiv">
                    <div style="display: flex;gap:50px;">
                        <div class="avatar-wrapper" style="width: 72px !important; height: 72px !important;border: none !important;">
                            <a th:href="@{/profile}">
                                <img th:if="${hasMyAvatar}" th:id="avatarComments" alt="">
                                <img th:unless="${hasMyAvatar}" th:id="avatarComments" th:src="@{/resources/static/img/UnsetAvatar.gif}" alt="">
                            </a>
                        </div>
                        <form content="0" th:id="sendCommentForm" th:method="POST" th:action="@{/createComment}" style="width: 100%">
                            <textarea minlength="1" maxlength="300" placeholder="Введите ваш комментарий..." th:name="content" th:id="content"></textarea>
                            <input th:if="${username ne null}" type="hidden" th:name="receiver" th:id="receiver" th:value="${username}">
                            <input th:if="${username eq null}" type="hidden" th:name="receiver" th:id="receiver" th:value="${currentUserName}">
                        </form>
                    </div>
                    <div style="margin-top:5px">
                        <input type="submit" th:id="sendButton">
                    </div>
                </div>

        </div>
        <div th:if="${hasComments}" class="comment" th:each="comment : ${commentsOnTheWall}">
            <div style="display: flex;gap:50px;">
                <div class="avatar-wrapper" style="width: 72px !important; height: 72px !important;border: none !important;">
                    <a th:href="@{/profile/{name}(name=${comment.username})}">
                        <img style="width: 72px;height: 72px" th:if="${comment.username.length <= 0}"  th:src="@{/resources/static/img/UnsetAvatar.gif}" alt="">
                        <img style="width: 72px;height: 72px" th:unless="${comment.username.length <= 0}"  th:src="@{'data:image/' + ${comment.format} + ';base64,' + ${comment.avatar}}" alt="">
                    </a>
                </div>
                    <textarea readonly th:class="toBeAutoGrown" th:text="${comment.content}"></textarea>
            </div>
        </div>
    </div>
</main>
<div id="divForCropping">
    <div id="divForCroppingHeader">Измените ваше фото</div>
    <div style="display: flex;align-items: center;justify-content: center;gap:120px">
        <div id="imageWrapper">
            <img id="croppingImage" src="" alt="">
        </div>
        <div style="display: flex;flex-direction: column;align-items: center;gap:40px;align-self: flex-start;margin-top: 20px">
            <div id="previewDiv">

            </div>
            <div id="previewDivComments">

            </div>
        </div>
    </div>

    <div style="text-align: center;width: 100%"><a id="submitChangeAvatar" href="">Подтвердить</a></div>
</div>
<div id="overlay">

</div>
<script type="text/javascript" th:if="${canChangeAvatar}">
    let croppingDiv = document.getElementById("divForCropping");
    let fileInput = document.getElementById("secretInput");
    let croppingImage = document.getElementById("croppingImage");
    let main = document.getElementById("mainDiv");
    let header = document.getElementById("headerDiv");
    let body = document.getElementById("body")
    let overlay = document.getElementById("overlay")
    let submitChangeAvatar = document.getElementById("submitChangeAvatar");
    let theForm = document.getElementById("theForm");
    submitChangeAvatar.addEventListener("click",(event) => {
        event.preventDefault();
        let data = cropper.getData();
        document.getElementById("x").value = data.x;
        document.getElementById("y").value = data.y;
        document.getElementById("width").value = data.width;
        document.getElementById("height").value = data.height;
        document.getElementById("scaleX").value = data.scaleX;
        document.getElementById("scaleY").value = data.scaleY;
        theForm.submit();
    })
    let uploadedImage = "";
    let choosingAvatar = false;
    let cropper = null;
    let cropperExists = false;

    let close = () => {
        choosingAvatar = false;
        croppingDiv.style.display = "none";
        main.style.filter = "none";
        header.style.filter = "none";
        overlay.style.visibility = "hidden";
        fileInput.value = null;

    }
    overlay.addEventListener("click",(event) => {
        if(choosingAvatar) {
            event.preventDefault();
            close()
        }
    })
    document.addEventListener("keydown",(event) => {
        const key = event.key;
        if(key === "Escape" && choosingAvatar) {
            close()
        }
    })

    fileInput.addEventListener("change",() => {
        if(fileInput.files[0] && fileInput.files) {
            const reader = new FileReader();
            reader.addEventListener("load",() => {
                choosingAvatar = true;
                uploadedImage = reader.result;
                croppingImage.setAttribute("src",uploadedImage);
                let element = document.getElementById("previewDiv");
                let element2 = document.getElementById("previewDivComments");
                croppingDiv.style.display = "block";
                overlay.style.visibility = "unset";
                if(!cropperExists) {
                    cropper = new Cropper(croppingImage, {
                        aspectRatio: 1,
                        viewMode: 2,
                        preview: [element,element2],
                        minCropBoxHeight: 138,
                        minCropBoxWidth: 138,
                        dragMode: "none",
                        cropBoxResizable: false,

                    });
                    cropperExists = true;
                }
                else {
                    cropper.replace(uploadedImage);
                }
            })
            reader.readAsDataURL(fileInput.files[0]);
        }
    });


</script>
<script th:if="${hasAvatar}" th:inline="javascript">
    let theAvatar = document.getElementById("avatar");
    let str = [[${avatar}]];
    let format = [[${avatarFormat}]];
    theAvatar.src = `data:image/${format};base64,${str}`;
</script>
<script th:if="${hasMyAvatar}" th:inline="javascript">
    theAvatar = document.getElementById("avatarComments");
    let str1 = [[${myAvatar}]];
    let format1 = [[${myAvatarFormat}]];
    theAvatar.setAttribute("src",`data:image/${format1};base64,${str1}`);
</script>
<script type="text/javascript">
    let textArea = document.getElementById("content");
    let sendButton = document.getElementById("sendButton");
    let buttonIsVanished = true;
    let commentForm = document.getElementById("sendCommentForm");
    let buttonDisappear = () => {
        sendButton.style.visibility = "hidden";
    };
    let buttonAppear = () => {
        sendButton.style.visibility = "visible";
    };
    sendButton.addEventListener("click",() => {
       commentForm.submit();
    });
    let func = () => {
        if(textArea.value.length === 0) {
            buttonDisappear();
            buttonIsVanished = true;
        } else if(buttonIsVanished) {
            buttonAppear();
            buttonIsVanished = false;
        }
    }
    textArea.addEventListener("input",() => {
        func();
        let length = textArea.value.length;
        commentForm.setAttribute("content",length);
    });
</script>
<script type="module">
    import autosize from "../../../resources/static/js/autosize.js";

    autosize(textArea);
    autosize(document.getElementsByClassName("toBeAutoGrown"));
</script>

</body>

</html>
