<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/static/css/base/base.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/profile/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/static/img/logo/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/resources/static/img/logo/site.webmanifest}">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>
</head>

<body id="body">
<header id="headerDiv">
    <a th:href="@{/}"><img class="frame-logo" th:src="@{/resources/static/img/logo_white.svg}" alt="MatematiX"></a>
</header>
<main id="mainDiv">
    <nav>
        <ul>
            <li style="color: white !important; font-size: 17px; cursor: pointer">Профиль</li>
            <li><a class="nav-link" th:href="@{/}">Настройки</a></li>
            <li><a class="nav-link" th:href="@{/}">Безопасность</a></li>
            <li><a class="nav-link" th:href="@{/}">Интерфейс</a></li>
            <li><a class="nav-link" th:href="@{/}">Уведомления</a></li>
        </ul>
    </nav>
    <div class="about">
        <div class="avatar-wrapper">
            <label th:for="secretInput" style="cursor:pointer">
                <img th:if="${hasAvatar}" th:id="avatar" alt="">
                <img th:unless="${hasAvatar}" th:id="avatar" th:src="@{/resources/static/img/UnsetAvatar.gif}" alt="">
            </label>
            <form enctype="multipart/form-data" th:id="theForm" th:action="@{/uploadAvatar(${_csrf.parameterName}=${_csrf.token})}" th:method="POST">
                <input th:id="secretInput" th:name="file" type="file" style="display: none" accept="image/*">
                <input type="submit" th:id="secretSubmit">
                <input th:id="x" type="hidden" th:name="x">
                <input th:id="y" type="hidden" th:name="y">
                <input th:id="width" type="hidden" th:name="width">
                <input th:id="height" type="hidden" th:name="height">
                <input th:id="scaleX" type="hidden" th:name="scaleX">
                <input th:id="scaleY" type="hidden" th:name="scaleY">
            </form>
        </div>
        <div class="desc">
            <p th:text="'Имя: ' + ${name}"></p>
            <p th:text="'Рейтинг: '"></p>
            <p th:text="'Уровень: ' + ${lvl}"></p>
        </div>
    </div>
    <div id="commentsDiv" class="comments">
        <div class="comments-header">
            <p style="display: inline-block">Комментарии</p>
            <div class="sort-settings">
                <ul class="sort-settings-ul">
                    <li class="sort-settings-li">популярные</li>
                    <li class="sort-settings-li">старые</li>
                    <li class="sort-settings-li">новые</li>
                </ul>
            </div>
        </div>
        <div class="comments-content">
                <div class="writeCommentSuggestionDiv">
                    <div style="display: flex;gap:50px;">
                        <div class="avatar-wrapper" style="width: 72px !important; height: 72px !important;border: none !important;">
                            <img th:if="${hasMyAvatar}" th:id="avatarComments" alt="">
                            <img th:unless="${hasMyAvatar}" th:id="avatarComments" th:src="@{/resources/static/img/UnsetAvatar.gif}" alt="">
                        </div>
                        <textarea minlength="1" placeholder="Введите ваш комментарий..." name="" id=""  ></textarea>
                    </div>
                </div>
        </div>
    </div>
</main>
<div id="divForCropping">
    <div id="divForCroppingHeader">Измените ваше фото</div>
    <div style="display: flex;align-items: center;justify-content: center;gap:40px">
        <div id="imageWrapper">
            <img id="croppingImage" src="" alt="">
        </div>
        <div id="previewDiv">

        </div>
    </div>
        <button id="changeAvatar">Выбрать другое изображение</button>
        <input id="submitChangeAvatar" type="submit" value="Подтвердить">
</div>
<div id="overlay">

</div>
<script type="text/javascript">
    let croppingDiv = document.getElementById("divForCropping");
    let fileInput = document.getElementById("secretInput");
    let croppingImage = document.getElementById("croppingImage");
    let main = document.getElementById("mainDiv");
    let header = document.getElementById("headerDiv");
    let body = document.getElementById("body")
    let overlay = document.getElementById("overlay")
    let changeAvatar = document.getElementById("changeAvatar");
    let submitChangeAvatar = document.getElementById("submitChangeAvatar");
    let theForm = document.getElementById("theForm");
    let avatar = document.getElementById("avatar");
    submitChangeAvatar.addEventListener("click",(event) => {
       event.preventDefault();
       let data = cropper.getData();
       document.getElementById("x").value = data.x;
       document.getElementById("y").value = data.y;
       document.getElementById("width").value = data.width;
       document.getElementById("height").value = data.height;
       document.getElementById("scaleX").value = data.scaleX;
       document.getElementById("scaleY").value = data.scaleY;
       theForm.submit();
    });
    let uploadedImage = "";
    let choosingAvatar = false;
    let cropper = null;
    let changeAvatarEvent = false;
    // Close Logic
    let close = () => {
        choosingAvatar = false;
        croppingDiv.style.display = "none";
        main.style.filter = "none";
        header.style.filter = "none";
        overlay.style.visibility = "hidden";
        fileInput.value = null;
        cropper.destroy();
    }
    overlay.addEventListener("click",(event) => {
        if(choosingAvatar) {
            event.preventDefault();
            close()
        }
    })
    document.addEventListener("keydown",(event) => {
        const key = event.key;
        if(key === "Escape" && choosingAvatar) {
            close()
        }
    })

    fileInput.addEventListener("change",() => {
        if(fileInput.files[0] && fileInput.files) {
            const reader = new FileReader();
            reader.addEventListener("load",() => {
                if(changeAvatarEvent)
                    cropper.destroy()
                choosingAvatar = true;
                uploadedImage = reader.result;
                croppingImage.setAttribute("src",uploadedImage);
                let element = document.getElementById("previewDiv");
                croppingDiv.style.display = "block";
                overlay.style.visibility = "unset";
                cropper = new Cropper(croppingImage, {
                    aspectRatio: 1,
                    viewMode: 2,
                    preview: element,
                    minCropBoxHeight: 138,
                    minCropBoxWidth: 138,
                    dragMode: "none",
                    cropBoxResizable: false,

                });
                changeAvatarEvent = false;
            })
            reader.readAsDataURL(fileInput.files[0]);
        }
    });
    changeAvatar.addEventListener("click",(event) =>
    {
        event.preventDefault()
        fileInput.click();
        changeAvatarEvent = true;
    });

</script>
<script th:if="${hasAvatar}" th:inline="javascript">
    let theAvatar = document.getElementById("avatar");
    let str = [[${avatar}]];
    let format = [[${avatarFormat}]];
    theAvatar.src = `data:image/${format};base64,${str}`;
</script>

<script th:if="${hasMyAvatar}" th:inline="javascript">
    theAvatar = document.getElementById("avatarComments");
    let str1 = [[${myAvatar}]];
    let format1 = [[${myAvatarFormat}]];
    theAvatar.setAttribute("src",`data:image/${format1};base64,${str1}`);
</script>

</body>

</html>
