.main {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame {
    display: flex;
    border-radius: 8px;
    width: 454px;
    height: 517px;
    box-shadow: -2px 4px 10px 9px rgb(0 0 0 / 30%);
    position: relative;
    overflow: hidden;
}
.frame::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 454px;
    height: 653px;
    background: linear-gradient(0deg, transparent,#45a0da,#45a0da);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;

}
.frame::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 454px;
    height: 653px;
    background: linear-gradient(0deg, transparent,#45a0da,#45a0da);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.frame--content {
    color: white;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset: 2px;
    z-index: 10;
    border-radius: 8px;
}

.frame--content h2 {
    font-weight: 500;
    font-size: 24px;
    margin-top: 47px;
    margin-bottom: 30px;
    color: #45a0da;
}
.forgotPassword-h4 {
    display: flex;
    justify-content: end;
    margin-top: 25px;
    gap: 100px
}
h4 {
    color: #45a0da;
}

input[type="text"],input[type="email"],input[type="password"],input[type="submit"] {
    display: block;
    width: 410px;
    height: 37px;
    background-color: transparent;
    padding-left: 8px;
    color: #45a0da;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
    outline: none;
}


input[type="text"],input[type="email"],input[type="password"] {
    position: relative;
    border: none;
    border-bottom: 1px solid #45a0da;
}

input[type="submit"] {
    background: #45a0da;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    width: 150px;
    height: 43px;
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
}


.form {
    margin-bottom: 142px;
}
.inputBox {
    position: relative;
    width: 410px;
    margin-top: 70px;
}
.inputBox span {
    position: absolute;
    left: 8px;
    top: 9px;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s all;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #45a0da;
    transform: translateY(-34px);
    font-size: 0.75em;
}
.flexbox-register-finish {
    display: flex;
    margin-top: 84px;
    gap: 139px;
}

.noAccount {
    padding-top: 17px;
}
h4 a:link, h4 a:visited, h4 a, h4 a:focus, h4 a:hover {
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-size: 14px;
    color: #d2cfc1;
}
h4 a:hover {
    text-decoration: underline;
    color: #45a0da;
}
.error {
    font-size: 12px;
    color: rgb(220, 53, 69);
    position: absolute;
}
.disappear {
    display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

textarea {
    outline: none;
    resize: none;
    margin-top: 70px;
    background-color: transparent;
    padding: 10px;
    color:white;
}
textarea:focus {
    outline: none;
}
.element {
    width: 10px;
    height: 22px;
    background: #45a0da;
    z-index: 35;
}
.background {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
}