h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 3%;
}
h3 {
    font-size: 24px;
    margin-bottom: 8px;
}
.info {
    text-align: center;
    height: 100vh;
    margin-top: 200px;
}
a:link, a:hover,a:visited,a:focus {
    font-size: 24px;
    color: black;
    transition: all 0.7s ease-out;
}
a:hover {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text;
}